{% extends 'base.html' %}
{% block title %}View Patients{% endblock %}
{% block content %}
<div class="navigation-buttons">
    <a href="#" class="previous round" onclick="goBack()">&#8249;</a>
    <a href="#" class="next round" onclick="goForward()">&#8250;</a>
</div>

<script>
function goBack() {
    window.history.back();
}
function goForward() {
    history.forward();
}
</script>

<h2>View Patients</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Address</th>
            <th>Actions</th> <!-- New column for edit and delete buttons -->
        </tr>
    </thead>
    <tbody>
        {% for patient in patients %}
        <tr>
            <td>{{ patient.id }}</td>
            <td>{{ patient.name }}</td>
            <td>{{ patient.age }}</td>
            <td>{{ patient.address }}</td>
            <td>
                <a href="{{ url_for('edit_patient', id=patient.id) }}" class="btn btn-primary">Edit</a>
				<form action="{{ url_for('delete_patient', id=patient.id) }}" method="post" style="display: inline;">
					<button type="submit" class="btn btn-danger">Delete</button>
				</form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="mini-nav">
    <ul>
        <li><a href="{{ url_for('add_patient') }}">Add Patient</a></li>
        <li><a href="{{ url_for('view_patients') }}">View Patients</a></li>
        <li><a href="{{ url_for('add_appointment') }}">Schedule Appointment</a></li>
        <li><a href="{{ url_for('view_appointments') }}">View Appointments</a></li>
        <li><a href="{{ url_for('predictions') }}">Predict Availability</a></li>
    </ul>
</div>
{% endblock %}
